<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
<title>Faq</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="My Show Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/menu.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>
<!---- start-smoth-scrolling---->
</head>
<body>
	<!-- header-section-starts -->
	<script th:inline="javascript">


        function Regcheck()
        {
            var username = document.getElementById("username").value
            if(username==null||username=="")
            {
                alert("请输入用户名！");
                return false;
            }


            var password1 = document.getElementById("password1").value
            if(password1==null||password1=="")
            {
                alert("请输入密码");
                return false;

            }
            var password2 = document.getElementById("repassword").value
            if(password2==null||password2=="")
            {
                alert("请确认密码");
                return false;

            }
            if(password2!=password1)
            {
                alert("两次输入的密码不一致");
                return false;

            }

            var email = document.getElementById("regemail").value
            if(email==null||email=="")
            {
                alert("请输入邮箱！");
                return false;
            }
            if(email.indexOf(".")==-1||email.indexOf("@")==-1)
            {
                alert("请输入正确的邮箱格式！");
                return false;
            }

            return true;
        }


        function Logincheck()
        {
            var password1 = document.getElementById("password").value
            if(password1==null||password1=="")
            {
                alert("请输入密码");
                return false;

            }

            var email = document.getElementById("email").value
            if(email==null||email=="")
            {
                alert("请输入邮箱！");
                return false;
            }
            if(email.indexOf(".")==-1||email.indexOf("@")==-1)
            {
                alert("请输入正确的邮箱格式！");
                return false;
            }

            return true;
        }




	</script>

	<div class="header-top-strip">
		<div class="container">
			<div class="header-top-left">
				<p><a href="support"> 帮助</a> | <a class="play-icon popup-with-zoom-anim" href="#small-dialog" >订阅</a></p>
				<div id="small-dialog" class="mfp-hide">
					<div class="select-city">
						<h3>发送确认</h3>
						<p>获取得我们最新消息推送</p>
						<div class="confirmation">
							<form>
								<input type="text" class="email" placeholder="邮箱" required="required"
									   pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?" title="Enter a valid email"/>
								<input type="text" class="email" placeholder="手机" maxlength="10"
									   pattern="[1-9]{1}\d{9}" title="Enter a valid mobile num
                                   ber"/>
								<input type="submit" value="发送">
							</form>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="header-top-right">
				<div class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
										aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">Modal title</h4>
							</div>
							<div class="modal-body">
								<p>One fine body&hellip;</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save changes</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
				<!-- Button trigger modal  -->

				<!---pop-up-box---->
				<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
				<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
				<!---//pop-up-box---->


				<script>
                    $(document).ready(function () {
                        $('.popup-with-zoom-anim').magnificPopup({
                            type: 'inline',
                            fixedContentPos: false,
                            fixedBgPos: true,
                            overflowY: 'auto',
                            closeBtnInside: true,
                            preloader: false,
                            midClick: true,
                            removalDelay: 300,
                            mainClass: 'my-mfp-zoom-in'
                        });

                    });
				</script>
				<!-- Large modal -->

				<button class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="login_1" th:unless="${session.user}" >
					登录
				</button>

				<a th:if="${session.user}" th:text="${session.user.username}"></a>
				<a th:if="${session.user}" th:text="注销用户" href="logout"></a>

				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
					 aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">立刻开始体验！</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
										<!-- Nav tabs -->
										<ul class="nav nav-tabs">
											<li class="active"><a href="#Login" data-toggle="tab">登录</a></li>
											<li><a href="#Registration" data-toggle="tab">注册</a></li>
										</ul>
										<!-- Tab panes -->
										<div class="tab-content">
											<div class="tab-pane active" id="Login">

												<form role="form" class="form-horizontal" method="post" action="loginto" onsubmit="return Logincheck()">
													<div class="form-group">
														<label for="email" class="col-sm-2 control-label">邮箱</label>
														<div class="col-sm-10">
															<input type="email" class="form-control" id="email" name="email" placeholder="Email"/>
														</div>
													</div>
													<div class="form-group">
														<label for="password" class="col-sm-2 control-label">密码</label>
														<div class="col-sm-10">
															<input type="password" class="form-control" id="password" name="password" placeholder="password"/>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-2">
														</div>
														<div class="col-sm-10">
															<button type="submit" class="btn btn-primary btn-sm"  >登录</button>

															<a href="javascript:;">忘记密码?</a>
														</div>

													</div>
												</form>
											</div>
											<div class="tab-pane" id="Registration">
												<form role="form" class="form-horizontal" action="register" onsubmit="return Regcheck()">
													<div class="form-group">
														<label for="email" class="col-sm-2 control-label">
															姓名</label>
														<div class="col-sm-10">
															<div class="row">
																<div class="col-md-3">
																	<select class="form-control" name="sex" id="sex">
																		<option>先生</option>
																		<option>女士</option>

																	</select>
																</div>
																<div class="col-md-9">
																	<input type="text" class="form-control"
																		   placeholder="name" name="username" id="username"/>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label for="email" class="col-sm-2 control-label">
															邮箱</label>
														<div class="col-sm-10">
															<input type="email" class="form-control" id="regemail"
																   placeholder="Email" name="email"/>
														</div>
													</div>
													<div class="form-group">
														<label for="mobile" class="col-sm-2 control-label">
															手机</label>
														<div class="col-sm-10">
															<input type="mobile" class="form-control" id="mobile"
																   placeholder="Mobile" name="mobile"/>
														</div>
													</div>
													<div class="form-group">
														<label for="password" class="col-sm-2 control-label">
															密码</label>
														<div class="col-sm-10">
															<input type="password" class="form-control" id="password1"
																   placeholder="Password" name="password"/>
														</div>
													</div>
													<div class="form-group">
														<label for="password" class="col-sm-2 control-label">
															确认密码</label>
														<div class="col-sm-10">
															<input type="password" class="form-control" id="repassword"
																   placeholder="RePassword" name="repassword"/>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-2">
														</div>
														<div class="col-sm-10">
															<button type="submit" class="btn btn-primary btn-sm">
																保存 & 下一步
															</button>
															<button type="button" class="btn btn-default btn-sm">
																取消
															</button>
														</div>
													</div>
												</form>
											</div>
										</div>
										<div id="OR" class="hidden-xs">
											OR
										</div>
									</div>
									<div class="col-md-4">
										<div class="row text-center sign-with">
											<div class="col-md-12">
												<h3 class="other-nw">
													第三方登录</h3>
											</div>
											<div class="col-md-12">
												<div class="btn-group btn-group-justified">
													<a href="#" class="btn btn-primary">微博</a> <a href="#"
																								  class="btn btn-danger">
													QQ</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>




				<!--<script>-->
				<!--$('#myModal').modal('show');-->
				<!--</script>-->
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="container">
		<div class="main-content">
			<div class="header">
				<div class="logo">
					<a href="index"><h1>我的影院</h1>

					</a>

				</div>
				<div class="search">
					<div class="search2">
						<form  role="form"  action="find">
							<i class="fa fa-search"></i>
							<input type="text" name="key" value="搜索关键字" onfocus="this.value = '';"
								   onblur="if (this.value == '') {this.value = '搜索关键字';}"/>
						</form>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="bootstrap_container">
				<nav class="navbar navbar-default w3_megamenu" role="navigation">
					<div class="navbar-header">
						<button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle"><span
								class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button>
						<a href="index" class="navbar-brand"><i class="fa fa-home"></i></a>
					</div><!-- end navbar-header -->

					<div id="defaultmenu" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="index">首页</a></li>
							<!-- Mega Menu -->
							<li><a href="allmovies">电影</a></li>
							<li><a href="blog">博客</a></li>
							<li><a href="faq">常见问题解答</a></li>
							<li><a href="about">关于</a></li>

							<li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">其它<b
									class="caret"></b></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="404">404</a></li>
									<li><a href="contact">联系我们</a></li>
									<li><a href="about">职位招聘</a></li>
									<li class="dropdown-submenu">
										<a href="#">新闻</a>
										<ul class="dropdown-menu">
											<li><a href="press">通讯稿</a></li>
											<li><a href="public-relations">公众活动</a></li>
											<li><a href="press">新闻报道</a></li>
										</ul><!-- end dropdown-menu -->
									</li><!-- end dropdown-submenu -->
								</ul>
								<!-- end dropdown-menu -->
							</li><!-- end standard drop down -->
							<!-- end dropdown w3_megamenu-fw -->
						</ul><!-- end nav navbar-nav -->
						<ul class="nav navbar-nav navbar-right" th:if="${session.user}">
							<li class="dropdown"><a  th:href='@{/personal(user_id=${session.user.id})}' class="dropdown-toggle">个人中心</a>
							</li>
						</ul>
						<!-- end nav navbar-nav navbar-right -->
					</div><!-- end #navbar-collapse-1 -->

				</nav><!-- end navbar navbar-default w3_megamenu -->
			</div><!-- end container -->
    
<!-- AddThis Smart Layers END -->

	<ol class="breadcrumb">
			  <li><a href="index">Home</a></li>
			  <li class="active">Faq's</li>
			</ol>
	<!----->
	<div class="faq">
		<h3>Welcome to MyShow Help</h3>
		<div class="faqs">
								     <h3 class="event-tab-head">Faq's</h3>
									 <div class="tab1">
							<ul class="place">
								<li>Q.Placerat ligula tincidunt</li>
							</ul>
						<p class="ans" style="display: none;">A.Duis aute irure dolor in reprehenderit Lorem Ipsum is simply dummy Duis aute irure dolor in reprehenderit Lorem Ipsum is simply dummy  tDuis aute irure dolor in reprehenderit Lorem Ipsum is simply dummy  eDuis aute irure dolor in reprehenderit Lorem Ipsum is simply dummy xt of the printing and typesetting industry.in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
						</div>
						<div class="tab2">
							<ul class="place">
								<li>Q.Sed ut perspiciatis unde</li>
							</ul>
						<p class="ans" style="display: none;">A.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non Duis aute irure dolor in reprehenderit Lorem Ipsum is simply dummy  Duis aute irure dolor in reprehenderit Lorem Ipsum is simply dummy  proident.</p>
						</div>
						<div class="tab3">
							<ul class="place">
								<li>Q.Eaque ipsa quae ab illo </li>
							</ul>
						<p class="ans" style="display: none;">A.Duis aute irure dolor in reprehenderit Lorem Ipsum is simply dummy  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
						</div>
						
						<div class="tab4">
							<ul class="place">
								<li>Q.Eaque ipsa quae ab illo </li>
							</ul>
						<p class="ans" style="display: none;">A.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu Lorem Ipsum is simply dummy text of the printing and typesetting industry.fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
						</div>
						<div class="tab5">
							<ul class="place">
								<li>Q.Eaque ipsa quae ab illo </li>
							</ul>
						<p class="ans" style="display: none;">A.Duis Duis aute irure dolor in reprehenderit Lorem Ipsum is simply dummy  aute irure dolor in reprehenderit in voluptate velit Lorem Ipsum is simply dummy text of the printing and typesetting industry.esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
						</div>
						<div class="tab6">
							<ul class="place">
								<li>Q.Eaque ipsa quae ab illo </li>
							</ul>
						<p class="ans" style="display: none;">A.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
						</div>
						<div class="tab7">
							<ul class="place">
								<li>Q.Eaque ipsa quae ab illo </li>
							</ul>
						<p class="ans" style="display: none;">A.Duis Duis aute irure dolor in reprehenderit Lorem Ipsum is simply dummy  Duis aute irure dolor in reprehenderit Lorem Ipsum is simply dummy  Duis aute irure dolor in reprehenderit Lorem Ipsum is simply dummy aute irure dolor in reprehenderit in voluptate velit esse Lorem Ipsum is simply dummy text of the printing and typesetting industry.cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
						</div>
						
						<a class="c-c-c" href="contact">contact-us</a>
						<!--script-->
						<script>
							$(document).ready(function(){
								$(".tab1 p").hide();
								$(".tab2 p").hide();
								$(".tab3 p").hide();
								$(".tab4 p").hide();
								$(".tab5 p").hide();
								$(".tab6 p").hide();
								$(".tab7 p").hide();
								$(".tab1 ul").click(function(){
									$(".tab1 p").slideToggle(300);
									$(".tab7 p").hide();
									$(".tab6 p").hide();
									$(".tab5 p").hide();
									$(".tab2 p").hide();
									$(".tab3 p").hide();
									$(".tab4 p").hide();
								})
								$(".tab2 ul").click(function(){
									$(".tab2 p").slideToggle(300);
									$(".tab7 p").hide();
									$(".tab6 p").hide();
									$(".tab5 p").hide();
									$(".tab1 p").hide();
									$(".tab3 p").hide();
									$(".tab4 p").hide();
								})
								$(".tab3 ul").click(function(){
									$(".tab3 p").slideToggle(300);
									$(".tab7 p").hide();
									$(".tab6 p").hide();
									$(".tab5 p").hide();
									$(".tab4 p").hide();
									$(".tab2 p").hide();
									$(".tab1 p").hide();
								})
								$(".tab4 ul").click(function(){
									$(".tab4 p").slideToggle(300);
									$(".tab7 p").hide();
									$(".tab6 p").hide();
									$(".tab5 p").hide();
									$(".tab3 p").hide();
									$(".tab2 p").hide();
									$(".tab1 p").hide();
								})	
								$(".tab5 ul").click(function(){
									$(".tab5 p").slideToggle(300);
									$(".tab7 p").hide();
									$(".tab6 p").hide();
									$(".tab4 p").hide();
									$(".tab3 p").hide();
									$(".tab2 p").hide();
									$(".tab1 p").hide();
								})	
								$(".tab6 ul").click(function(){
									$(".tab6 p").slideToggle(300);
									$(".tab7 p").hide();
									$(".tab5 p").hide();
									$(".tab4 p").hide();
									$(".tab3 p").hide();
									$(".tab2 p").hide();
									$(".tab1 p").hide();
								})	
								$(".tab7 ul").click(function(){
									$(".tab7 p").slideToggle(300);
									$(".tab6 p").hide();
									$(".tab5 p").hide();
									$(".tab4 p").hide();
									$(".tab3 p").hide();
									$(".tab2 p").hide();
									$(".tab1 p").hide();
								})	
							});
						</script>
						<!-- script -->
						</div>
	</div>
		<div class="footer-top-strip">
		<p><span>Showing in cities : </span><a href="movies">Bengaluru</a>, <a href="movies">Hyderabad</a>, <a href="movies">Khammam</a>, <a href="movies">Kurnool</a>, <a href="movies">Nizamabad</a>, <a href="movies">Vijayawada</a>, <a href="#">Vizag</a>, <a href="movies">Vizianagaram</a>, <a href="movies">Warangal</a></p>
		<p><span>Cinemas Nearby : </span><a href="movie-single"> INOX: Jyoti Mall, Kurnool </a>|
			<p><span>Next Change <i>(Friday, 19 Jun) </i>: </span><a href="movie-single">Disney's ABCD 2 (3D) (U)</a>, <a href="movie-single"> 2 Premi Premache</a> , <a href="movie-single">Dekh Ke (Bhojpuri)</a> , <a href="movie-single">Disney's ABCD 2 (2D) (U)</a>, <a href="movie-single">Dekh Ke (Bhojpuri)</a></p>
			<p><span>Coming Soon :</span><a href="movie-single"> 2 Premi Premache</a>, <a href="movie-single">Acharam, Dekh Ke (Bhojpuri)</a>, <a href="movie-single">Entourage</a>, <a href="movie-single">Kuttram Kadithal</a></p>
		</div>
	</div>
		<div class="footer">


			<div class="clearfix"></div>
			<div class="col-md-12">
				<div class="footer-right">
					<div class="follow-us">
						<h5 class="f-head">联系我们</h5>
						<ul class="social-icons">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="subscribe">
						<h5 class="f-head">订阅我们的推送服务</h5>
						<input type="text" class="text" value="输入邮箱" onfocus="this.value = '';"
							   onblur="if (this.value == 'Enter email...') {this.value = 'Enter Email ID';}">
						<input type="submit" value="提交">
						<div class="clearfix"></div>
					</div>
					<div class="recent_24by7">
						<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="fa fa-calendar-o"></i>重新发送确认信</a>
						<a href="support"><i class="fa fa-question"></i>客户服务</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		</div>
			<div class="copy-rights text-center">
				<p>© 2015 My Show. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
	</div>
 <script src="js/responsive-tabs.js"></script>
    <script type="text/javascript">
      $( '#myTab a' ).click( function ( e ) {
        e.preventDefault();
        $( this ).tab( 'show' );
      } );

      $( '#moreTabs a' ).click( function ( e ) {
        e.preventDefault();
        $( this ).tab( 'show' );
      } );

      ( function( $ ) {
          // Test for making sure event are maintained
          $( '.js-alert-test' ).click( function () {
            alert( 'Button Clicked: Event was maintained' );
          } );
          fakewaffle.responsiveTabs( [ 'xs', 'sm' ] );
      } )( jQuery );

    </script>
 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
</html>